<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Establecer el nivel de log a INFO para ActiveMQ -->
    <logger name="org.apache.activemq" level="INFO"/>

    <!-- Establecer el nivel de log a INFO para SLF4J -->
    <logger name="org.slf4j" level="INFO"/>

    <!-- Appender de consola -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
</configuration>
